
{% extends "louvre/layout.html.twig" %}
{% block home %}
	<div class="" style=" height: 600px; background-image:url('{{ asset('images/louvre-817719_1920.jpg') }}")>
		<div class="container">
			<div class="row">
	            <div class="col-lg-8 col-md-10 mx-auto">
				  <h1>Bienvenue sur la plateforme billeterie du Musée du Louvre</h1>
				  <p>
				    Le Louvre c'est 35.000 oeuvres d'art exposées sur 60 600 m2 et dix millions de visiteurs par an. Grandiose, le musée du Louvre est immense et hyper fréquenté. Autant vous dire que vous ne pourrez pas tout voir en une journée à moins de parcourir le musée à vélo. Achetez-donc votre billet à l'avance pour ne pas perdre de temps dans la file d'attente et ciblez dès maintenant les collections et départements qui vous intéressent
				    {{ welcome }}
				  </p>
				  <a href="{{ path('command') }}" class="btn btn-secondary"> je commande</a>
				</div>
			</div>
		</div>
	    
	</div>
{% endblock %}